<app-nav></app-nav>
<div class="main">
    <div class="main-content">
        <h1 class="title">Manage Your Queries</h1>
        <p class="subtitle">Submit new queries or view your existing queries from here.</p>
        
        <div class="query-container">
            <div class="tabs">
                <button type="button"  [routerLink]="['/user/UserQuery']" class="tab-button active">Add Query</button>
                <button type="button" class="tab-button inactive" [routerLink]="['/user/ViewUserQuery']">My Queries</button>
            </div>
            
            <div class="query-form">
                <h2 class="form-title">Add New Query</h2>
                <textarea class="query-textarea" placeholder="Enter your query here" #assignQuery></textarea>
                <button class="submit-button" (click)="showInput()">Submit Query</button>
            </div>
        </div>       
    </div>
</div>
<app-footer></app-footer>