<app-nav2></app-nav2>
<div class="main">
    <div class="form-container">
        <h1 class="form-title">Create an Account</h1>

        <form [formGroup]="registrationForm" (ngSubmit)="onRegistration()">
            <div class="form-group">
                <label for="username" class="form-label">Username</label>
                <input type="text" id="username" name="username" class="form-input" required formControlName="username">
            </div>

            <div class="form-group">
                <label for="firstname" class="form-label">First Name</label>
                <input type="text" id="firstname" name="firstname" class="form-input" required
                    formControlName="firstname">
            </div>

            <div class="form-group">
                <label for="lastname" class="form-label">Last Name</label>
                <input type="text" id="lastname" name="lastname" class="form-input" required formControlName="lastname">
            </div>

            <div class="form-group">
                <label for="email" class="form-label">Email</label>
                <input type="email" id="email" name="email" class="form-input" required formControlName="email">
            </div>

            <div class="form-group">
                <label for="password" class="form-label">Password</label>
                <input type="password" id="password" name="password" class="form-input" required
                    formControlName="password">
            </div>

            <div class="form-group">
                <label for="role" class="form-label">Role</label>
                <select id="role" name="role" class="form-input" required formControlName="role">
                    <option value="" disabled selected>Select a role</option>
                    <option value="ROLE_ADMIN">ROLE_ADMIN</option>
                    <option value="ROLE_CUSTOMER">ROLE_CUSTOMER</option>
                </select>
            </div>

            <button type="submit" class="register-btn">Register</button>
        </form>

        <p class="login-link">Already have an account? <a [routerLink]="['/auth/Login']">Login here</a></p>
    </div>
</div>
<app-footer></app-footer>