<app-nav></app-nav>
<div class="main">
    <div class="page-container">
        <!-- Page Title (outside the container) -->
        <h1 class="page-title">Redirect</h1>

        <!-- Main Container -->
        <div class="main-container">
            <div class="url-form">
                <div class="form-group">
                    <label for="long-url">Enter Short URL:</label>
                    <input type="text" id="shortUrl" [(ngModel)]="shortUrl" placeholder="Enter short URL here">
                </div>
               
                <button type="submit" class="submit-btn"  (click)="redirectToUrl()">Redirect</button>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>