<app-nav></app-nav>
<div class="main">
<div class="container">
        <h1>Manage Plans</h1>
        <div class="buttons-container">
            <a [routerLink]="['/admin/CreatePlan']" class="button create-button">Create Plan</a>
            <a [routerLink]="['/admin/ViewPlans']" class="button view-button">View Plans</a>
            <a [routerLink]="['/admin/UpdatePlan']" class="button update-button">
                Update Plan
            </a>
        </div>
    </div>
</div>
<app-footer></app-footer>