<div class="main">
    <nav class="navbar">
        <a href="#" class="brand">LinkMini</a>
        <div class="nav-links">
            <a [routerLink]="['/user/DashBoard']" class="nav-link">Home</a>
            <a [routerLink]="['/user/BuyPlan']" class="nav-link">Buy Plan</a>
            <a [routerLink]="['/user/UserUrls']" class="nav-link">My Urls</a>
            <!-- <a href="#" class="nav-link">Renew Urls</a> -->
            <a [routerLink]="['/user/UpdateProfile']" class="nav-link">My Profile</a>
        </div>
        <button class="logout-btn"  (click)="logout()">Logout</button>
    </nav>  
</div>

