  .main {
      min-height: auto;
      background: linear-gradient(90deg, #ffffff 0%, #dac6df 100%);
      color: rgb(0, 0, 0);
  }

  .header-container {
      width: 100%;
      padding: 3rem 2rem;
      text-align: center;
  }

  .main-heading {
      font-size: 2.5rem;
      font-weight: 600;
      margin-bottom: 1rem;
      color: rgb(0, 0, 0);
  }

  .sub-heading {
      font-size: 1.1rem;
      font-weight: 400;
      max-width: 800px;
      margin: 0 auto;
      opacity: 0.9;
  }