.main {
    background: linear-gradient(90deg,  #ffffff 0%, #dac6df 100%);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
   width: 1500px;
    margin: 30px auto;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
}

.section-title {
    text-align: center;
    color: #0077b6;
}

.filters {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 10px;
}

.filters input,
.filters select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.filter-buttons {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}

.apply-btn,
.remove-btn {
    padding: 8px 14px;
    border: none;
    cursor: pointer;
}

.apply-btn {
    background-color: #43aa8b;
    color: white;
}

.remove-btn {
    background-color: #f94144;
    color: white;
}

.download-btn {
    margin-bottom: 10px;
    background-color: #0077b6;
    color: white;
    border: none;
    padding: 10px 16px;
    border-radius: 5px;
    cursor: pointer;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

table th,
table td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
}

table tbody tr:nth-child(even) {
    background-color: #e0f7fa;
}

table tbody tr:nth-child(odd) {
    background-color: #b2ebf2;
}

.pagination {
    margin-top: 20px;
    text-align: center;
}

.pagination button {
    margin: 0 5px;
    padding: 8px 12px;
    border: none;
    background-color: #90e0ef;
    border-radius: 4px;
    cursor: pointer;
}

.pagination .active {
    background-color: #0077b6;
    color: white;
}