<app-nav></app-nav>
<div class="main">
  <main class="container">
    <h2 class="section-title">Plans</h2>

    <table>
      <thead>
        <tr>
          <th>Sr No.</th>
          <th>Plan Name</th>
          <th>Plan Type</th>
          <th>URL Limit</th>
          <th>Clicks Per Url</th>
          <th>Customer Limit</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let plan of plans">
          <td>1</td>
          <td>{{plan.planname}}</td>
          <td>{{plan.type}}</td>
          <td>{{plan.urllimit}}</td>
          <td>{{plan.clicksperurl}}</td>
          <td>{{plan.customerlimit}}</td>
          <td>{{plan.price}}</td>
        </tr>
      </tbody>
    </table>

  </main>
</div>
<app-footer></app-footer>