.main {
    min-height: 100vh;
    background: linear-gradient(90deg,  #ffffff 0%, #dac6df 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

/* Form container */
.form-container {
    background-color: #dac6df;
    border-radius: 10px;
    padding: 2rem;
    width: 100%;
    max-width: 450px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.form-title {
    font-size: 1.6rem;
    font-weight: bold;
    color: #000000;
    text-align: center;
    margin-bottom: 1.5rem;
}

.form-group {
    margin-bottom: 1.2rem;
}

.form-label {
    display: block;
    margin-bottom: 0.5rem;
    color: #000000;
}

.form-input {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
}

.form-input:focus {
    outline: none;
    border-color: #3b82f6;
    box-shadow: 0 0 0 2px rgba(59, 130, 246, 0.2);
}

.register-btn {
    width: 100%;
    background-color: #753286;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 0.75rem;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 1rem;
}

.register-btn:hover {
    background-color: #470857;
}

.login-link {
    text-align: center;
    margin-top: 1rem;
    color: #555;
    font-size: 0.9rem;
}

.login-link a {
    color: #3b82f6;
    text-decoration: none;
    font-weight: bold;
}

.login-link a:hover {
    text-decoration: underline;
}