.main {
    min-height: 100vh;
    background: linear-gradient(90deg, #ffffff 20%, #dac6df 100%);
    color: rgb(0, 0, 0);
    padding: 20px;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    text-align: center;
    padding: 2rem;
    color: rgb(0, 0, 0);
}

.welcome-title {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
}

.description {
    font-size: 1.2rem;
    max-width: 600px;
    margin-bottom: 2.5rem;
    line-height: 1.6;
}

.cta-text {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.register-btn {
    background-color: white;
    color: #01040a;
    border: none;
    border-radius: 30px;
    padding: 0.75rem 2rem;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.register-btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
    color: whitesmoke;
    background-color:#3c0849
}